AppBundle\Entity\Category:
  properties:
    name:
      - NotBlank: ~
AppBundle\Entity\Job:
  properties:
    category:
      - NotBlank: ~
    type:
        - NotBlank: ~
        - Choice: [ callback="getTypeValues" ] 
        # Revisar Choice
    company:
      - NotBlank: ~
    logo:
      - Image: ~
    url:
    position:
      - NotBlank: ~
    location:
      - NotBlank: ~
    description:
      - NotBlank: ~
    howToApply:
      - NotBlank: ~
    token:
    isPublic:
      - NotBlank: ~
    isActivated:
      - NotBlank: ~
    email:
      - NotBlank: ~
      - Email:
          message: The email "{{ value }}" is not a valid email.
          checkMX: true
    expiresAt:
    createdAt:
    updatedAt:  

AppBundle\Entity\Affiliate:
  properties:
    url:
      - NotBlank: ~
    email:
      - NotBlank: ~
    token:
      - NotBlank: ~
    isActive:
      - NotBlank: ~
    createdAt:
      - NotBlank: ~